<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Baglanti" connectionString="Data Source=DESKTOP-OMOJQBA\SQLEXPRESS;Initial Catalog=hastane_otomasyonu_y;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>